.advantages {
  padding: 20px;
}

.advantages__list {
  list-style-type: none;
  padding-left: 80px;
}

.advantages__item {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 32px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background: @btn-color;
    left: -80px;
  }
}


.advantages__item--health {
  position: relative;

  &::before {
    content: "";
    background-image: url("../img/advantage-leaf@1x.png");
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    top: 20px;
    position: absolute;
  }
}

.advantages__item--cook {
  position: relative;

  &::before {
    content: "";
    background-image: url("../img/advantage-powder@1x.png");
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    top: 20px;
    position: absolute;
  }
}

.advantages__item--meal {
  position: relative;

  &::before {
    content: "";
    background-image: url("../img/advantage-dining@1x.png");
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    top: 20px;
    position: absolute;
  }
}

.advantages__item--clock {
  position: relative;

  &::before {
    content: "";
    background-image: url("../img/advantage-clock@1x.png");
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    top: 20px;
    position: absolute;
  }
}

@media (min-width: @tablet-width) {
  .advantages {
    padding: 0;
  }

  .advantages__title {
    margin-bottom: 143px;
  }

  .advantages__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }

  .advantages__item {
    width: 50%;
    height: 63px;
    position: relative;
    padding-top: 37px;
    padding-bottom: 137px;

    &::before {
      width: 80px;
      height: 80px;
      left: 0;
      top: -100px;
    }
  }

  .advantages__item--health {
    &::before {
      top: -85px;
    }
  }

  .advantages__item--cook {
    &::before {
      top: -85px;
    }
  }

  .advantages__item--meal {
    &::before {
      top: -85px;
    }
  }

  .advantages__item--clock {
    &::before {
      top: -85px;
    }

    &::after {
      position: absolute;
      content: "4";
      font-size: 281px;
      color: #f2f2f2;
    }
  }
}
