.advantages {
  padding: 0 0 23px;
}

.advantages__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-top: 28px;
}

.advantages__title {
  margin: 0;
}


.advantages__item {
  margin-bottom: 20px;
  align-items: center;
  display: flex;

  &::before {
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    background-color: @btn-color;
    flex: 0 0 60px;
    margin-right: 20px;
    width: 60px;
    height: 60px;
  }

  &--health::before {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &--cook::before {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &--meal::before {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &--clock::before {
    background-image: url("../img/advantage-clock@1x.png");
  }
}

@media (min-width: @tablet-width) {
  .advantages {
    padding: 0;
  }

  .advantages__title {
    font-size: 60px;
    margin-top: 0;
  }

  .advantages__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 58px;
    margin-bottom: 0;
    counter-reset: advantages-list;
  }

  .advantages__item {
    position: relative;
    flex: 1 0 40%;
    font-size: 16px;
    line-height: 1.5;
    padding-right: 60px;
    padding-bottom: 80px;
    margin-bottom: 57px;
    display: block;

    &:nth-child(2n+1) {
      margin-right: 60px;
    }

    &:nth-last-child(1),
    &:nth-last-child(2) {
      margin-bottom: 24px;
    }

    &::before {
      width: 80px;
      height: 80px;
      display: block;
      margin-bottom: 30px;
    }

    &::after {
      content: counter(advantages-list);
      position: absolute;
      font-family: "Oswald", sans-serif;
      font-size: 281px;
      line-height: 1;
      color: #f2f2f2;
      counter-increment: advantages-list;
      top: -40px;
      width: 140px;
      text-align: center;
      right: 75px;
      z-index: -1;
    }
  }

  @media (min-width: @desktop-width) {
    .advantages__item {

      flex: 1 0 20%;
      padding-top: 0;
      padding-right: 54px;
      margin-right: 50px;

      &:nth-child(2n+1) {
        margin-right: 50px;
      }
    }

    .advantages__title {
      margin: 0;
      padding-top: 60px;
    }

    .advantages__item::after {
      right: 10px;
    }


    .advantages__list {
      margin-top: 53px;
    }
  }
}
