.catalog {
  list-style-type: none;
  padding: 1px;
}

.catalog__title {
  text-align: center;
  padding-bottom: 15px;
}

.product-cart__title {
  position: relative;
  display: flex;
  left: 200px;
  top: 50px;
  max-width: 75px;
}

.title-content {
  position: relative;
}

.product-cart {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: right;
}

.product-cart__photo {
  display: flex;
  position: absolute;
}

.product-cart__button {
  position: relative;
  margin-top: 100px;
}

.product-cart__list {
  position: relative;
  left: 200px;
  display: flex;
  bottom: -80px;
  max-width: 140px;
}

.product-cart__item-info {
  padding-left: 64px;
}

@media (min-width: @tablet-width) {
  .catalog {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .catalog__title {
    text-align: left;
    padding-bottom: 15px;
    font-size: 60px;
  }

  .product-cart {
    display: flex;
    flex-direction: column;
    width: 324px;
    background-color: #f2f2f2;
    position: relative;
    padding: 38px;
    margin-top: 110px;
  }


  .product-cart__photo {
    position: absolute;
    bottom: 400px;
  }

  .product-cart__item-name,
  .product-cart__item-info {
    font-size: 16px;
  }

  .product-cart__title {
    padding-top: 165px;
    font-size: 20px;
  }
}

@media (min-width: @desktop-width) {
  .product-cart {
    width: 245px;
  }
}
