.catalog__list {
  list-style-type: none;
  padding: 0;
  margin: 0 -20px;
  border-top: solid 1px #ededed;
}

.catalog__title {
  margin: 0;
  padding: 18px 0 30px;
}

.catalog {
  padding-top: 28px;
}

@media (max-width: @tablet-width - 1) {
  .catalog {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: @tablet-width) {
  .catalog {
    padding-top: 21px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 59px;
    border-top: none;
  }

  .catalog__title {
    text-align: left;
    font-size: 60px;
    border: none;
    padding: 0;
    margin-bottom: 40px;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    padding-top: 53px;
  }

  .catalog__list {
    margin-bottom: 66px;
  }
}
