.page-main {
  padding-left: 20px;
  padding-right: 20px;
}

.catalog__title {
  font-size: 36px;
  text-align: center;
  padding-bottom: 15px;
}

.catalog {
  list-style-type: none;
  padding: 1px;
}

.product-cart {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.product-cart__button {
  background-color: @btn-color;
  color: white;
  padding: 15px;
  text-align: center;
}
