.categories {
  text-align: left;
}

.categories-item {
  background-color: #f2f2f2;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 20px;
}

.categories-item__title {
  text-transform: uppercase;
  font-size: 24px;
}

.categories-item__button {
  text-transform: uppercase;
  padding-top: 20;
  padding-bottom: 20;
}

.categories-item__description {
  font-size: 16px;
  border-bottom: solid 1px #d9d9d9;
  padding-bottom: 25px;
}
