.example {
  background-color: #f2f2f2;
  padding-bottom: 30px;
}

.example__title {
  margin-top: 25px;
}

.example__price {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-align: center;
}

.example__advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
}

.example__img {
  margin-top: 22px;
  margin-left: -20px;
}

.example__container {
  display: flex;
  justify-content: space-between;
}

.example__advantages--text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  text-transform: none;
  margin-bottom: -5px;
  margin-top: -5px;
}

.example__slide {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 26px;
}

.example__slide--button {
  background-color: transparent;
  border: none;
}

.example__slide--button-before {
  padding-right: 20px;
}

.example__slide--button-after {
  padding-left: 20px;
}


.example__slide--toggle {
  position: relative;
  width: 84px;
  height: 14px;
  border-radius: 6px;
  border: solid 1px #cdcdcd;
  background-color: #ffffff;
}

.example__slide--toggle-full {
  position: absolute;
  width: 35px;
  height: 6px;
  border-radius: 3px;
  display: block;
  background-color: @btn-color;
}

@media (min-width: @tablet-width) {
  .example {
    padding-left: 0;
    padding-right: 0;
  }

  .example__title {
    font-size: 60px;
    margin: 0;
  }

  .example__text {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding-top: 48px;
  }

  .example__slide--toggle {
    position: relative;
    width: 428px;
    height: 6px;
    border-radius: 2.5px;
    background-color: #dcdcdc;
  }

  .example__slide--toggle-full {
    position: absolute;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: block;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    border: solid 1px #cdcdcd;
    background-color: #ffffff;

    &::after {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      background-color: @btn-color;
      border-radius: 50%;
      display: block;
      top: 50%;
      left: 25%;
      transform: translate(50%, -50%);
    }
  }
}
