.example {
  background-color: #f2f2f2;
  padding: 18px 0 30px;
}

.example__title {
  margin: 0;
}

.example__price {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 32px 0 12px;
}

.example__text {
  padding-top: 30px;
  margin: 0;
  line-height: 18px;
}

.example__advantages {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  flex: 1 0 124px;
  padding: 4px 15px 0;
}

.example__img {
  margin-top: 22px;
  margin-left: -20px;
}

.example__container {
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
}

.example__advantages-text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  text-transform: none;
  line-height: 1;
  position: relative;
  top: 14px;
  margin-top: -10px;
  padding: 0 10px 0;
  text-align: center;
  background-color: #f2f2f2;
}

.example__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
}

.example__advantages-weight {
  margin-right: 32px;
}

.example__slide--button {
  background-color: transparent;
  border: none;
}

.example__slide--button-before {
  padding-right: 0;
}

.example__slide--button-after {
  padding-left: 0;
}


.example__slide--toggle {
  position: relative;
  width: 84px;
  height: 14px;
  border-radius: 6px;
  border: solid 1px #cdcdcd;
  background-color: #ffffff;
  margin: 0 18px 0;
}

.example__slide--toggle-full {
  position: absolute;
  width: 35px;
  height: 6px;
  border-radius: 3px;
  display: block;
  background-color: @btn-color;
  border: none;
}

@media (min-width: @tablet-width) {
  .example {
    padding-top: 30px;
    border-top: solid 1px #cdcdcd;
    margin-top: -38px;
    background-color: #ffffff;
  }

  .example__title {
    font-size: 60px;
    margin: 0;
  }

  .example__text {
    font-size: 16px;
    line-height: 25px;
    margin: 0;
    padding-top: 48px;
  }

  .example__slide--toggle {
    position: relative;
    width: 428px;
    height: 6px;
    border-radius: 2.5px;
    background-color: #dcdcdc;
  }

  .example__slide--toggle-full {
    position: absolute;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: block;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    border: solid 1px #cdcdcd;
    background-color: #ffffff;

    &::after {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      background-color: @btn-color;
      border-radius: 50%;
      display: block;
      top: 50%;
      left: 25%;
      transform: translate(50%, -50%);
    }
  }

  .example-inner {
    display: flex;
    justify-content: space-between;
  }

  .example__advantages {
    font-size: 30px;
  }

  .example__advantages-text {
    font-size: 14px;
    background-color: #ffffff;
  }

  .example__price {
    font-size: 20px;
    width: 30%;
    line-height: 30px;
    text-align: right;
    margin: 0;
  }

  .example__container {
    width: 50%;
    margin: 0;
  }
}
