.form-page__text {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0 52px 0 0;
  margin-top: 24px;
  margin-bottom: 36px;
  line-height: 20px;
}

.form-page {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  margin-top: 14px;
}

.form-page__title {
  font-size: 36px;
  line-height: 60px;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .form-page {
    margin-top: 39px;
  }

  .form-page__title {
    font-size: 60px;
    line-height: 1;
    margin-left: -40px;
  }

  .form-page__text {
    font-size: 20px;
    line-height: 1.5;
    max-width: 400px;
    padding: 0;
    margin-top: 53px;
  }
}

@media (min-width: @desktop-width) {
  .form-page {
    margin-top: 70px;
  }

  .form-page__text {
    line-height: 32px;
    padding: 0;
    max-width: 322px;
    margin-bottom: 0;
  }

  .form-page__title {
    margin-left: 0;
  }
}
