.main-nav__list {
  font-family: "oswaldmedium", sans-serif;
  list-style-type: none;
  text-align: center;
  margin: 1px;
  padding: 1px;
}

.main-nav__item {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: solid 1px #e6e6e6;
}

.main-nav {
  display: none;
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("../img/icon-mobile-menu.svg");
  background-size: 25px 19px;
  background-repeat: no-repeat;
  background-position: center;
  width: 65px;
  height: 65px;
  background-color: white;
  border: none;
}

@media (min-width: @tablet-width) {
  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__item {
    border-bottom: none;
    padding: 0;
    font-size: 18px;
    margin-left: 35px;
  }

  .main-nav__item-link--active {
    border-bottom: solid 2px @btn-color;
    padding-bottom: 5px;
  }

  .main-nav__item-link {
    &:hover {
      color: rgba(17, 17, 17, 0.6);
    }

    &:active {
      color: rgba(17, 17, 17, 0.3);
    }
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    z-index: 1;
  }

  .main-nav__item--main a {
    color: white;
  }

  .main-nav__item-link--active-main {
    border-bottom: solid 2px white;
  }

  .main-nav__item {
    font-size: 20px;
    margin-left: 33px;
  }
}
