.map__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
}

.map__title {
  line-height: 1.25;
  margin-right: 9px;
}

.map__address {
  line-height: 1.43;
}

.map-catalog {
  background-color: #f2f2f2;
}

@media (min-width: @desktop-width) {
  .map {
    position: relative;
  }

  .map__container {
    background-color: #f2f2f2;
    position: absolute;
    padding: 69px 76px;
    margin-top: 80px;
  }

  .map__title,
  .map__address {
    width: 155px;
  }
}
