.map__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px 20px;
  background-color: #ffffff;
}

.map__container-form {
  padding: 31px 0 20px;
  background-color: #f2f2f2;
}

.map__container-form-main {
  background-color: #ffffff;
}

.map__title {
  line-height: 20px;
  margin: 0;
}

.map__address {
  line-height: 20px;
  margin: 0;
  margin-left: 30px;
}

.map-catalog {
  background-color: #f2f2f2;
}

@media (min-width: @tablet-width) {
  .map__title {
    font-size: 20px;
    line-height: 1.25;
  }

  .map__address {
    font-size: 16px;
    line-height: 1.25;
    text-align: right;
  }

  .map__container {
    padding: 68px 43px 60px;
    background-color: #f2f2f2;
  }

  .map__container--main {
    background-color: #ffffff;
  }

  .map {
    background-color: #f2f2f2;
  }
}

@media (min-width: @desktop-width) {
  .map {
    position: relative;
  }

  .map__container {
    position: absolute;
    margin-top: 80px;
    padding: 68px 73px 60px;
    background-color: #ffffff;
  }

  .map__address {
    font-size: 16px;
    line-height: 30px;
    text-align: left;
    width: 155px;
    margin-left: 100px;
  }

  .map__title {
    width: 155px;
  }
}
