.other-product__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 24px;
  padding-top: 13px;
}

.other-product__list {
  list-style-type: none;
  padding: 0;
  flex-direction: column;
}

.other-product__button {
  padding: 10px;
  display: block;
  line-height: 1.25;
  font-size: 16px;
  margin-bottom: 28px;
}

.other-product__table {
  width: 100%;
  font-size: 14px;
  padding-bottom: 15px;
  color: #444444;
}

.other-product__price {
  text-align: right;
}

.other-product__des {
  line-height: 1;
}

.other-product__name {
  margin: 0;
  padding-bottom: 4px;
}

@media (min-width: @tablet-width) {
  .other-product__list {
    padding-left: 38px;
    padding-right: 38px;
  }
}
