.other-product {
  border-top: 3px solid @btn-color;
  margin-top: 46px;
  margin-bottom: 7px;
}

.other-product__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  margin-top: -24px;
  display: inline-block;
  background-color: white;
  vertical-align: middle;
  padding-right: 22px;
  margin-left: -20px;
  padding-left: 20px;
  margin-bottom: 31px;
}

.other-product__list {
  border-top: solid 1px #cdcdcd;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.other-product__button {
  padding: 10px;
  display: block;
  line-height: 18px;
  font-size: 16px;
}

.other-product__item {
  border-bottom: solid 1px #cdcdcd;
  padding-top: 10px;
  padding-bottom: 18px;
}

.other-product__table {
  width: 100%;
  font-size: 14px;
  margin-bottom: 13px;
  color: #444444;
}

.other-product__price {
  text-align: right;
}

.other-product__des {
  line-height: 1;
}

.other-product__name {
  margin: 0;
  margin-bottom: 9px;
  line-height: 20px;
}

@media (min-width: @tablet-width) {
  .other-product {
    margin-bottom: 75px;
  }

  .other-product__list {
    border: solid 1px #cdcdcd;
    margin-bottom: 68px;
  }

  .other-product__wrap {
    margin-top: 73px;
  }

  .other-product__item {
    padding: 25px 38px 29px;
  }

  .other-product__title {
    font-size: 36px;
    line-height: 1;
    border: none;
    margin-left: -2px;
    padding-left: 38px;
    padding-right: 37px;
    margin-top: -40px;
    margin-bottom: 0;
    display: inline-block;
    background-color: white;
  }

  .other-product__button {
    margin: 0;
  }

  .other-product__table {
    width: 40%;
    padding: 0;
    margin: 0;
  }

  .other-product__info {
    text-align: right;
  }

  .other-product__name {
    font-size: 20px;
    padding: 0;
    margin: 0;
  }

  .other-product__des {
    font-size: 16px;
    color: #444444;
  }

  .other-product__item-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }
}

@media (min-width: @desktop-width) {
  .other-product {
    margin-bottom: 48px;
  }

  .other-product__title {
    padding: 0 38px;
    margin-left: -38px;
  }

  .other-product__wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
  }

  .other-product__item-wrap {
    width: 70%;
    margin-bottom: 0;
  }

  .other-product__list {
    flex: 1 0 auto;
    border: none;
    margin-bottom: 0;
    border-top: solid 1px #cdcdcd;
  }

  .other-product__item {
    display: flex;
    justify-content: space-between;
    padding: 22px 0 12px;
    border-bottom: solid 1px #cdcdcd;
  }

  .other-product__name {
    font-size: 20px;
    line-height: 29px;
    width: 50%;
  }

  .other-product__des {
    line-height: 30px;
  }

  .other-product__table {
    font-size: 16px;
    width: 50%;
  }

  .other-product__button {
    width: 27%;
  }
}
