.present__text {
  position: absolute;
  color: #ffffff;
  margin-top: -105px;
  line-height: 1.25;
  font-size: 16px;
  padding-left: 50px;
  padding-right: 50px;
}

.present {
  position: relative;
  margin-bottom: 35px;
  margin-top: 59px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .present__text {
    text-align: left;
    margin-top: -130px;
    padding-left: 422px;
    padding-right: 124px;
  }
}

@media (min-width: @desktop-width) {
  .present {
    width: 30%;
    margin: 0;
  }

  .present__text {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
  }
}
