.product-cart {
  display: flex;
  flex-direction: column;
}

.product-cart__button {
  background-color: @btn-color;
  color: white;
  padding: 15px;
  text-align: center;
}

.product-cart__list {
  font-size: 12px;
  font-weight: 400;
}
