.product-cart__title {
  position: relative;
  display: flex;
  left: 140px;
  top: 87px;
  padding-top: 13px;
  padding-bottom: 24px;
}

.title-content {
  position: relative;
}

.product-cart {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: right;
  margin-top: -75px;
}

.product-cart__photo {
  display: flex;
  position: absolute;
}

.product-cart__button {
  position: relative;
  margin-top: 85px;
  padding: 10px;
}

.product-cart__list {
  position: relative;
  left: 136px;
  display: flex;
  bottom: -75px;
  font-size: 12px;
  font-weight: 400;
}

.product-cart__item-name {
  line-height: 1.33;
}

.product-cart__item-info {
  padding-left: 58px;
  line-height: 1.33;
}

@media (min-width: @tablet-width) {
  .product-cart {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    position: relative;
    padding: 38px;
    margin-top: 93px;
    padding-left: 38px;
    padding-right: 38px;
    margin-bottom: 45px;
  }

  .product-cart__row {
    border-bottom: 1px solid #cdcdcd;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 249px;
    padding-bottom: 5px;
    padding-top: 2px;
  }

  .product-cart__photo {
    position: absolute;
    bottom: 300px;
    left: 0;
  }

  .product-cart__item-name,
  .product-cart__item-info {
    font-size: 16px;
  }

  .product-cart__item-info {
    text-align: right;
    line-height: 1.33;
  }

  .product-cart__title {
    font-size: 20px;
    left: 0;
    top: 115px;
    line-height: 1;
    text-align: center;
  }

  .product-cart__list {
    left: 0;
    top: 135px;
  }

  .product-cart__button {
    margin-top: 166px;
    padding-left: 90px;
    padding-right: 90px;
  }

  .product-cart__more {
    background-color: #ffffff;
    border: solid 1px #cdcdcd;
  }

  .product-cart__more--see {
    background-color: #f2f2f2;
    color: #444444;
  }
}
