.promo {
  background-image: url("../img/index-background-mobile@1x.jpg ");
  color: white;
  background-repeat: no-repeat;
  background-position: top;
  text-decoration: none;
  text-align: center;
  margin-bottom: 30px;
}
