.promo {
  background-image: url("../img/index-background-mobile@1x.jpg ");
  color: white;
  background-repeat: no-repeat;
  background-position: top;
  text-decoration: none;
  text-align: center;
  margin-bottom: 30px;
}

.ppromo__image {
  margin-bottom: 30px;
}

.promo__title {
  font-weight: 400;
  line-height: 36px;
  padding-top: 30px;
  margin-top: 0;
}

.promo__text {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

.promo__button {
  background-color: @btn-color;
  padding: 15px 75px;
  color: white;
}
