.promo {
  background-image: url("../img/index-background-mobile@1x.jpg "), linear-gradient(#64a83b 305px, white 305px);
  color: white;
  background-repeat: no-repeat;
  background-position: top;
  text-decoration: none;
  text-align: center;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg"), linear-gradient(#64a83b 305px, white 305px);
    background-size: 320px auto, auto;
  }
}

.promo__title {
  font-weight: 400;
  line-height: 36px;
  padding-top: 27px;
  margin: 0;
}

.promo__text {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  padding-top: 9px;
}

.promo__button {
  display: block;
  background-color: @btn-color;
  padding: 10px 60px;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 9px;
}

@media (min-width: @tablet-width) {
  .promo {
    color: #111111;
    font-size: 20px;
    text-align: left;
    height: 850px;
    background: none;
    margin-bottom: 30px;
  }

  .promo__title {
    font-size: 60px;
    line-height: 1;
    max-width: 450px;
    padding-top: 36px;
    padding-left: 116px;
  }

  .promo__image {
    height: 609px;
    width: 709px;
    padding-left: 25px;
  }

  .promo__text {
    margin-top: 0;
    position: relative;
    padding-left: 118px;
    padding-top: 36px;
  }

  .promo__button {
    position: absolute;
    padding: 11px 0;
    font-size: 20px;
    margin: 0;
    bottom: 461px;
    left: 118px;
    display: block;
    width: 245px;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    background-image: url ("../img/index-background-desktop@1x.jpg"), linear-gradient ( to left, #64a83b 50%, white 50%);
    background-repeat: no-repeat;
    background-position: right;
    height: 696px;
  }

  .promo__title {
    padding-top: 295px;
    margin-left: 77px;
  }

  .promo__text {
    padding-left: 191px;
  }

  .promo__image {
    position: relative;
    margin-left: 530px;
    bottom: 286px;
    width: 563px;
    height: 499px;
  }

  .promo__button {
    position: relative;
    bottom: 477px;
    left: 189px;
  }
}
