.user-form {
  display: flex;
  flex-direction: column;
}

.user-form__input {
  border: 1px solid #cdcdcd;
  height: 45px;
  overflow: hidden;
}

.user-form__radio {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    border-radius: 100%;
  }

  &::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: @btn-color;
    border-radius: 100%;
    top: 9px;
    left: 9px;
  }
}
