.page-header__wrap {
  padding-top: 13px;
  padding-bottom: 10px;
}

@media (min-width: @tablet-width) {
  .page-header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-header__logo {
    padding-left: 0;
    width: 174px;
  }

  .page-header__logo-image {
    height: 59px;
    width: 174px;
  }
}

@media (min-width: @desktop-width) {
  .page-header--main {
    margin-bottom: -200px;
  }

  .page-header__logo {
    width: auto;
  }

  .page-header__logo-image {
    width: 203px;
    height: 60px;
  }
}
