.page-footer {
  background-color: #f2f2f2;
  padding: 44px 0 10px;
}

.page-footer__social {
  margin: 0 -20px;
  border-top: solid 1px #e6e6e6;
  border-bottom: solid 1px #e6e6e6;
}

.page-footer__wrap {
  display: flex;
  flex-direction: column;
  padding: 0 20px 0;
  margin: 0 auto;
}

.page-footer__logo {
  align-self: center;
}

.page-footer__logo-image {
  margin-bottom: 28px;
}

.page-footer__copyright-image {
  width: 39px;
  height: 43px;
  margin: 0 -6px;
}

.page-footer__copyright-text {
  font-size: 16px;
  line-height: 1;
  margin: 0;
}

.page-footer__logo-academy {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 18px 0 20px;
  align-items: center;
}

@media (min-width: @tablet-width) {
  .page-footer {
    padding: 47px 0 53px;
  }

  .page-footer__wrap {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0 30px;
    padding: 0;
  }


  .page-footer__logo-image {
    margin: 0;
  }

  .page-footer__logo-academy {
    padding: 0;
  }

  .page-footer__social {
    border-top: none;
    border-bottom: none;
  }

  .page-footer__copyright-text {
    padding-right: 22px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    padding: 55px 0;
  }

  .page-footer__wrap {
    margin: 0 auto;
    max-width: 1220px;
  }
}
