.page-header {
  border-bottom: solid 1px #ededed;
}

.page-header__wrap {
  padding: 14px 20px 10px;
}

@media (min-width: @tablet-width) {
  .page-header {
    border: none;
  }

  .page-header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 30px 16px;
  }

  .page-header__logo {
    padding-left: 0;
    width: 174px;
  }

  .page-header__logo-image {
    height: 59px;
    width: 174px;
  }

  .page-header__wrap-catalog {
    padding: 24px 0 16px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__wrap {
    padding: 55px 0 0;
  }

  .page-header__wrap-catalog {
    padding: 55px 0 0;
  }

  .page-header--main {
    margin-bottom: -200px;
  }

  .page-header__logo {
    width: auto;
    z-index: 1;
  }

  .page-header__logo-image {
    width: 203px;
    height: 60px;
  }
}
