@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  src: local("Oswald"),
    url("../fonts/oswaldregular.woff2 ") format("woff2"),
    url("../fonts/oswaldregular.woff ") format("woff ");
}

@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  src: local("Oswald"),
    url("../fonts/oswaldmedium.woff2 ") format("woff2"),
    url("../fonts/oswaldmedium.woff ") format("woff ");
}

body {
  min-width: auto;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: #444444;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
  height: auto;
}

.title-section {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
}

.title-block {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
}

.title-content {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
}

.title-nav {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: #111111;
}

.btn {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  body {
    background-size: 1178px auto;
  }
}
