.wrap-catalog {
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}

.wrap {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: @tablet-width) {
  .wrap {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
  }

  .wrap-catalog {
    margin: 0 auto;
    padding: 23px 30px 70px;
  }
}

@media (min-width: @desktop-width) {
  .wrap {
    margin: 0 auto;
    max-width: 1220px;
    padding-left: 0;
    padding-right: 0;
  }

  .wrap-catalog {
    margin: 0 auto;
    max-width: 1220px;
    padding: 48px 0 0;
  }
}
